
.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 40px;
    color: #7FB77E
}
    
.btn:hover {
    background-color: #B1D7B4;
    color: #7FB77E;
}  

.btn:active {
    background-color: #B1D7B4;
    color: #7FB77E;
    
}



